// Place all the styles related to the foo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form1 {
  float: left;
}
.aside_form {
}
.form3div {
  clear: both;
}
.form3 {
  clear: both;
}
