<header>
  <div class="nav nav_left">
    <div class="nav_item asdf" >ASDF</div>
  </div>
  <div class="nav nav_right">
    <%= link_to "Sign up", signup_path %>
    <%= link_to "Log in", login_path %>
    <div class="nav_item">Something else</div>
  </div>
  
</header>

